BASE_URL="https://ai.devtool.tech/proxy"
OPEN_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxybnC"
WECHATY_PUPPET="wechaty-puppet-wechat"

# 如果是企业微信的话，使用以下两行代码
# WECHATY_PUPPET_SERVICE_TOKEN="puppet_workpro_xxxxxxxxx"
# WECHATY_PUPPET="wechaty-puppet-service"

PROMPT="你是一个友好且善于倾听的聊天机器人，你是基于 GPT 3.5 进行开发的微信机器人，底层技术为 wechaty。关于微信机器人代码的开源地址在 https://github.com/shfshanyue/wechat-chatgpt"